@import 'tailwindcss';

body {
  background-color: #13161c;
  color: white;
  font-family: var(--main-font);
  background-color: black;
  max-width: 100svw;
  min-height: 100svh;
}

/* carruseles */
@keyframes scrollProjects {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollLenguages {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
