@import 'tailwindcss';

body {
  background-color: #000000;
  color: white;
  font-family: var(--main-font);
  background-color: black;
  max-width: 100svw;
  min-height: 100svh;
}

/* carruseles */
@keyframes scrollProjects {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollLenguagesRigth {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
}
